
*{
    margin: 0px;
    padding: 0px;
  
}
.navbar{
box-shadow: 0px 1px 20px -6px;
}

/* // BorwserRouter  : Home 
//Rutes : sare file mere andr 
//Route : apn ko jana kha h ?



// UseNavigator :'lejana kha pr h ?' */